<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\BuildedFileTester\packages.config" />
  <repository path="..\IntegrationUnitTest\packages.config" />
  <repository path="..\MappingCreator\packages.config" />
  <repository path="..\QueryConsole\packages.config" />
</repositories>